html
    head
        link(rel='stylesheet', href='/css/events.css', type='text/css')
        link(rel='stylesheet', href='/css/confirmation.css', type='text/css')
    body
        include includes/navigation

        .confirmation-container
            .banner
            .order-summary
                h2 Order Confirmation Number: ##{confirmation.id}
                p Thank you for purchasing tickets through StubPug. This is confirmation that your order has been processed. Please print and retain a copy for your records. Your tickets will be mailed to #{confirmation.username}

            .event-details
                h3 #{confirmation.event_name}
                if confirmation.event_name != confirmation.artist_name
                    h4 Artist: #{confirmation.artist_name}
                h4 Location: #{confirmation.venue_name}
                h4 Date: #{(confirmation.event_date)}

            .order-details
                .order-column
                    .header
                        h4 Item
                    .details
                        h4 #{confirmation.event_name} Ticket
                .order-column
                    .header
                        h4 Price
                    .details
                        h4 $#{confirmation.ticket_price}
                .order-column
                    .header
                        h4 Quantity
                    .details
                        h4 #{confirmation.ticket_qty}
                .order-column
                    .header
                        h4 Total Price
                    .details
                        h4 $#{confirmation.post_tax_total}

        include includes/footer
        
        //- http://localhost:3000/concert-tickets/61/confirmation