html
    include includes/head
        link(rel='stylesheet', href='/css/events.css', type='text/css')
        link(rel='stylesheet', href='/css/confirmation.css', type='text/css')
    body
        include includes/navigation
        include includes/login
        .confirmation-container
            .banner
            .order-summary
                h2 Order Confirmation Number: ##{confirmation.id}
                p Thank you for purchasing tickets through StubPug. This is confirmation that your order has been processed. Please print and retain a copy for your records. Your tickets will be mailed to #{confirmation.email}.

            .event-details
                h3 #{confirmation.event_name}
                if confirmation.event_name != confirmation.artist_name
                    h4 Artist: #{confirmation.artist_name}
                |#{confirmation.event_date} - #{confirmation.venue_name}

            .order-details
                div(class="order-column" id="item-column")
                    .header
                        h4 Item
                    .details
                        |#{confirmation.event_name} Ticket
                div(class="order-column")
                    .header
                        h4 Price
                    .details
                        |$#{confirmation.ticket_price.toFixed(2)} x #{confirmation.ticket_qty}
                div(class="order-column" id="fees-column")
                    .header
                        h4 Fees
                    .details
                        |$0.00 x #{confirmation.ticket_qty}
                div(class="order-column")
                    .header
                        h4 Total Price
                    .details
                        |$#{confirmation.post_tax_total.toFixed(2)}

        include includes/footer
    