html
    include includes/head 
        link(rel='stylesheet', href='/css/events.css', type='text/css')

    body
        include includes/login
        .top-banner
            include includes/navigation
            #event-header
                .event-name-venue
                    h1 #{event.name}
                    h2 #{event._embedded.venues[0].name}
                    h3 #{event.dates.start.localDate}
                img(src=`${event.images[0].url}`)
        .event-info-nav
            .nav-div: a(href="#") tickets 
            .nav-div: a(href="#") artist info 
            .nav-div: a(href="#") venue info 
        .bottom-container-event
            .event-container
                .tickets-container
                    each price in prices
                        .ticket-price
                            .price $#{price.toFixed(2)}
                            
                            form(method="POST" action=`${event.id}/checkout/${price}`)
                                .quantity-div 
                                span Qty:
                                select(name='ticketQuantity')
                                    option(value="1") 1
                                    option(value="2") 2
                                    option(value="3") 3
                                    option(value="4") 4
                                    option(value="5") 5
                                    option(value="6") 6
                                    option(value="7") 7
                                    option(value="8") 8
                                    option(value="9") 9
                                    option(value="10") 10
                                button Checkout
                
                
                .seatmap-container
                    .zoom
                        #zoomin +
                        #zoomout -
                    if event.seatmap 
                        img(id = 'img' src=`${event.seatmap.staticUrl}`) 
                //- if event.info
                //-     p #{event.info}
            
    include includes/footer  

script(src="/js/event.js")
