//- extends layout.pug
//- append topMenu
//- append topContent
    //-event name goes here

//- Seating chart ticket prices will go here
//- block topContent
//-         ul
//-             each eventkey in eventinfo
//-                 li= 'Event: ' + eventkey.eventname
//-                 li= 'Musician: ' + eventkey.musician
//-                 li= 'Date: ' + eventkey.date
//-                 li= 'Venue: ' + eventkey.venue
//-                 li= 'Location: ' + eventkey.venuecity + ', ' + eventkey.venuestate
//-                 li= 'Genre: ' + eventkey.genre

//- append bottomContent


html
    head
        link(rel='stylesheet', href='/css/events.css', type='text/css')
    body
        include includes/navigation
        .top-banner
            #event-header
                .event-name-venue
                    h1 #{event.name}
                    h2 #{event._embedded.venues[0].name}
                    h3 #{event.dates.start.localDate}
                img(src=`${event.images[0].url}`)
            .search-div
                form(method="GET" action="/search")
                    input(
                        type='text'
                        name='eventSearch'
                        placeholder='New search...'
                    )
                    button submit
        .bottom-container
            .event-container
                .tickets-container
                    if event.priceRanges
                        each price in prices
                            .ticket-price
                                .price $#{price.toFixed(2)}
                                .quantity-div Qty: 
                                    input(type='text' placeholder='2')
                                .info-btn Checkout
                #zoomin +
                #zoomout -
                .seatmap-container
                    if event.seatmap 
                        img(id = 'img' src=`${event.seatmap.staticUrl}`) 
                //- if event.info
                //-     p #{event.info}
            
    include includes/footer  

script(src="/js/event.js")
    