extends layout.pug

append topMenu



block topContent

    .topContainer
        h1.settingTitle Account Settings    
    ul.accountMenu
        a.firstLink(href="/account") Settings
        a(href="/account/payment") Payment
        a(href="/account/history") History
        a(href="/account/favorites") Favorites



block bottomContent
    .ticketHistory
        h2 Upcoming Events
        if orders.length == 0
            h3.noEvents You have no upcoming events
        each order in orders
            .displayTickets
                p Artist: #{order.eventName}
                p Number of Tickets: #{order.ticketCount}
                p Date: #{order.eventDate}

    .ticketHistory
        h2 Past Events
        if pastOrders.length == 0
            h3.noEvents You have no past events
        each order in pastOrders
            .displayTickets
                p Artist: #{order.eventName}
                p Number of Tickets: #{order.ticketCount}
                p Date: #{order.eventDate}
