extends userLayout.pug

block topMenu
    include includes/navigation
block topContent

    .topContainer
        h1.settingTitle Account History    
    ul.accountMenu
        a.firstLink(href="/account") Settings
        a(href="/account/history") History
        a(href="/account/favorites") Favorites
        a(href="/account/payment") Payment


block bottomContent
    .ticketHistory
        h2 Upcoming Events
        if orders.length == 0
            h3.noEvents You have no upcoming events
        each order in orders
            .displayTickets
                h3 #{order.eventName} 
                p Tickets Purchased: #{order.ticketCount} | Date: #{order.date_format} | Order Total: $ #{order.total}
                p.purchasedDate Purchased Date: #{order.purchased_date}                

    .ticketHistory
        h2 Past Events
        if pastOrders.length == 0
            h3.noEvents You have no past events
        each order in pastOrders
            .displayTickets
                h3 #{order.eventName} 
                p Tickets Purchased: #{order.ticketCount} | Event Date: #{order.event_date_format} | Order Total: $ #{order.total}
                p.purchasedDate Purchased Date: #{order.purchased_date}
