
head
    link(rel='stylesheet', href='./css/style.css', type='text/css')

    append topMenu
        div.topDash      
            h1 Welcome to Ticket Sales
            #index-search-container   
            //-SEARCH      
            form(method="GET" action="/search")
                input(
                    type='text'
                    name='eventSearch'
                    placeholder='Search'
                )
                button submit
    append topContent
        //- Registration and login will be put into modals
        h2 Registration
        form(method="POST" action="/register")
            input(type="text" name="username" placeholder="username")
            input(type="password" name="password" placeholder="password")
            button submit
            span= message

        h2 Login
            form(method="POST" action="/login")
                input(type="text" name="username" placeholder="username")
                input(type="password" name="password" placeholder="password")
                button submit
                span= message
        

append bottomContent
