html
    include includes/head
        link(rel='stylesheet', href='./css/events.css', type='text/css')
    body
        include includes/login
        .top-banner
            include includes/navigation
            .top-header
                h1 Search Results 
                    if event
                        h2 "#{result}"
                    else 
                        h2 "#{name}"
                .search-div
                    form(method="GET" action="/search")
                        input(
                            type='text'
                            name='eventSearch'
                            placeholder='New search...'
                        )
                        button: i(class="fas fa-search")
        .bottom-container
        p(class="event-returned") #{event.length} events returned
            if event
                each val in event
                    .search-result-div
                        .date-div
                            p.date #{val.dates.start.localDate}
                            p.time #{val.dates.start.localTime}
                        .event-info-div
                            h3 #{val.name}
                            a(href=`/venues/${val._embedded.venues[0].id}/details`) #{val._embedded.venues[0].name}
                            if val.info
                                //- .info-div: i(class="fas fa-caret-down")
                                span(class="info") #{val.info}
                        .info-btn: a(href=`../concert-tickets/eventinfo/${val.id}`) More info
            else
                h2= message
    include includes/footer
    script(src="/js/infodiv.js")           
            
