html
    include includes/head
        link(rel='stylesheet', href='/css/events.css', type='text/css')
    body
        include includes/navigation
        include includes/login
        .top-banner
            include includes/venueshead.pug
        .bottom-container
            if event
                each val in event
                    .search-result-div
                        .date-div
                            p.date #{val.date}
                            p.time #{val.time}
                        .event-info-div
                            h3 #{val.eventname}
                            p #{val.venue}
                        .info-btn: a(href=`/concert-tickets/eventinfo/${val.eventid}`) More info
            
    include includes/footer           
            
