html
    include includes/head
        link(rel='stylesheet', href='/css/events.css', type='text/css')
    body
        include includes/login
        .top-banner
            include includes/navigation
            #event-header
                .event-name-venue
                    if venue
                        h1 #{venue.name}
                        h2 #{venue.address.line1}
                        h2 #{venue.city.name}, #{venue.state.stateCode}
        .event-info-nav
            .back back
            .nav-div: a(href=`details`) details
            .nav-div: a(href="events") events
        .bottom-container
            if event
                p Upcoming Events (#{event.length})
            
                each val in event
                    .search-result-div
                        .date-div
                            p.date #{val.dates.start.localDate}
                            p.time #{val.dates.start.localTime}
                        .event-info-div
                            h3 #{val.name}
                            p #{val._embedded.venues[0].name}
                        .info-btn: a(href=`/concert-tickets/eventinfo/${val.id}`) More info
            else
                p No upcoming events.
            
    include includes/footer           
            
