html
    include includes/head 
        link(rel='stylesheet', href='/css/events.css', type='text/css')
    body
        include includes/login
        .top-banner
            include includes/navigation
            #event-header
                .event-name-venue
                    h1 #{venue.name}
                    h2 #{venue.address.line1}
                    h2 #{venue.city.name}, #{venue.state.stateCode}
        .event-info-nav
            .back back
            .nav-div: a(href="details") details 
            .nav-div: a(href="events") events

            
        .bottom-container
            .info-container
                if venue.boxOfficeInfo
                    h2 Phone Number
                    p #{venue.boxOfficeInfo.phoneNumberDetail}
                    h2 Box Office Hours
                    p #{venue.boxOfficeInfo.openHoursDetail}
                    h2 Accepted Payments
                    p #{venue.boxOfficeInfo.acceptedPaymentDetail}
                if venue.parkingDetail
                    h2 Parking
                    p #{venue.parkingDetail}
                if venue.generalInfo
                    h2 General Rules
                    p #{venue.generalInfo.generalRule}
                    h2 Children Rules
                    p #{venue.generalInfo.childRule}
                if venue.accessibleSeatingDetail
                    h2 Accessible Seating
                    p #{venue.accessibleSeatingDetail}
            
    include includes/footer  


script(src="/js/modal.js")