html
    include includes/head
        link(rel='stylesheet', href='/css/events.css', type='text/css')
    body
        include includes/navigation
        include includes/login
        .top-banner
            include includes/venueshead.pug
        .bottom-container
            each val in event
                .search-result-div
                    .date-div
                        p.date #{val.date}
                    .event.info-div
                        h3 #{val.eventname}
                        p #{val.venue}
                        p #{val.info}
                    a(href=`/concert-tickets/eventinfo/${val.eventid}`): .info-btn Get more info
            
    include includes/footer           
            
